/*===== GOOGLE FONTS Baloo Bhai 2 and Montserrat =====*/

@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500;700&family=Montserrat:wght@100;400;500&display=swap');

/*===== VARIABLES CSS =====*/

:root {
    --global-header-height: 2.875rem;
    /* colors */
    --global-background-color: #F2F9F4;
    --global-color-primary: #509995;
    --global-color-secondary: #DEEDE8;
    --global-color-menu-hover: #C0DAD6;
    --global-text-color: #509995;
    /* font and typography */
    --global-font-family: 'Baloo Bhai 2', 'Montserrat', sans-serif;
    --global-normal-font-size: .938rem;
    /* spaces */
    --global-side-page-space: 5.8125rem;
    --global--margin-top-header: 2.6875rem;
}


/*========== BASE ==========*/

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--global-font-family);
    font-size: var(--global-normal-font-size);
    background-color: var(--global-background-color);
    color: var(--global-text-color);
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

::placeholder {
    color: #FFFFFF;
}


/*========== CLASS CSS ==========*/


/* ======== header  nav ======*/

.header-container {
    width: 100%;
    background-color: var(--global-color-secondary);
    margin-top: var(--global--margin-top-header);
}

.nav-container {
    width: 100%;
    height: var(--global-header-height);
    position: relative;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.nav__logo {
    width: 110px;
    height: 131px;
    background: #8FD8C5;
    position: relative;
    /* top: - var(--global--margin-top-header) */
    top: -2.6875rem;
    left: var(--global-side-page-space)
}

.nav__menu {
    display: flex;
    margin: auto 0;
}

.nav__item {
    margin: 0 40px;
    /* margin:40px; */
}

.nav__link {
    color: #434E4D;
    font-size: 1.3125rem;
    font-weight: 550;
    text-transform: uppercase;
    padding: 8px 18px;
}

.nav__link:hover {
    background: var(--global-color-menu-hover);
}

.nav__toggle {
    position: relative;
    margin: auto;
    display: none;
}

.nav__toggle span {
    position: absolute;
    font-size: 35px;
}

input[type="checkbox"] {
    display: none;
}


/*========== MEDIA QUERIES ==========*/

@media screen and (max-width:900px) {
    .nav-container {
        display: block;
        padding: 0;
    }
    .nav__logo {
        display: inline-block;
        left: 0;
    }
    .nav__menu {
        display: flex;
        flex-direction: column;
        background: var(--global-color-secondary);
        height: 0;
        visibility: hidden;
        position: absolute;
        left: 0;
        right: 0;
        z-index: 1;
    }
    .nav__item {
        text-align: center;
    }
    .nav__link {
        font-size: 20px;
        padding: 10px;
        display: block;
    }
    .nav__toggle {
        display: block;
        position: absolute;
        top: 6px;
        right: 50px;
        cursor: pointer;
    }
    #nav__toggle--close {
        display: none;
    }
    #menu-toggle:checked~label #nav__toggle--menu {
        display: none;
    }
    #menu-toggle:checked~label #nav__toggle--close {
        display: block;
    }
    #menu-toggle:checked~.nav__menu {
        visibility: visible;
        height: 210px;
    }
}


/* ========= MAIN ========= */


/* home seccion */

.home {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
    align-items: center;
}

.home__image {
    position: relative;
}

.home__image .girl {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
}

.home__presentation {
    text-align: center;
}

.home__presentation h2 {
    margin: 0;
    padding: 0;
    font-size: 100px;
    text-transform: uppercase;
}

.home__presentation p {
    font-size: 21px;
    line-height: 1.2;
    margin: 0;
}

.home__presentation button {
    text-decoration: none;
    text-transform: uppercase;
    padding: 8px 20px;
    color: #FFFFFF;
    background: var(--global-color-primary);
    border-radius: 12px;
    border: 2px solid #FFFFFF;
    letter-spacing: 3px;
    margin: 20px 0px;
}


/* service secction */

.services {
    background: var(--global-color-primary);
    text-align: center;
    padding: 115px 0px 115px 0px;
}

.services__title {
    color: #FFFFFF;
    font-size: 75px;
    text-transform: uppercase;
}

.services__description {
    font-size: 30px;
    color: #DEEDE8;
}

.services__clases {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.services__clases h4 {
    color: #DEEDE8;
    font-size: 37px;
}

.services__clases p {
    color: #DEEDE8;
    font-size: 22px;
    line-height: 1;
}

.services__image {
    position: relative;
}

.services__clases .girl {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
}


/* about us section */


/* our stats */

.our-stats {
    text-align: center;
    padding: 115px 0px 115px 0px;
}

.our-stats__title {
    font-size: 75px;
}

.our-stats__description {
    font-size: 30px;
    line-height: 1.3;
}

.our-stats__rank {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.our-stats__rank div {
    border-radius: 50%;
    border: 3px solid var(--global-color-primary);
    padding: 100px;
}

.our-stats__rank h5 {
    font-size: 67px;
}

.our-stats__rank p {
    font-size: 27px;
    line-height: 1;
    margin: 0;
}


/* best instructor */

.instructor {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background: var(--global-color-primary);
    overflow: hidden;
}

.instructor__data {
    flex-basis: 50%;
    color: #FFFFFF;
}

.instructor__title {
    margin-bottom: 50px;
    font-size: 75px;
    line-height: 1;
}

.instructor__description {
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 50px;
}

.instructor__data button {
    color: var(--global-color-primary);
    padding: 8px 50px;
    font-size: 25px;
    text-transform: uppercase;
    border: none;
    border-radius: .3125rem;
}

.instructor__image {
    width: 50%;
    height: 700px;
    object-fit: cover;
}


/* experience */

.experience {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.experience__details h3 {
    font-size: 75px;
    line-height: 1;
    margin-bottom: 50px;
}

.experience__details p {
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 50px;
}

.experience__details button {
    color: #DEEDE8;
    padding: 10px 60px;
    font-size: 25px;
    text-transform: uppercase;
    border: none;
    border-radius: .3125rem;
    background: var(--global-color-primary);
    margin-bottom: 50px;
}


/* pricing */

.pricing {
    background: var(--global-color-primary);
    text-align: center;
    padding: 115px 0px 115px 0px;
}

.pricing__title {
    font-size: 75px;
    color: #FFFFFF;
    margin-bottom: 50px;
}

.pricing__description {
    color: #DEEDE8;
    font-size: 30px;
    line-height: 1.3;
    margin-bottom: 50px;
}

.pricing__cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.pricing__courses {
    text-align: center;
    background: var(--global-background-color);
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 50px;
}

.pricing__courses h4 {
    font-size: 37px;
    text-transform: uppercase;
    color: var(--global-color-primary);
}

.pricing__courses p {
    font-size: 22px;
    line-height: 1.3;
}

.pricing__courses button {
    color: #FFFFFF;
    padding: 10px 60px;
    font-size: 25px;
    text-transform: uppercase;
    border: none;
    border-radius: .3125rem;
    background: var(--global-color-primary);
}


/* contact us */


/* trainer */

.trainer {
    text-align: center;
    padding: 115px 0px 115px 0px;
}

.trainer__image {
    position: relative;
}

.trainer__image .girl {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
}

.trainer__description {
    font-size: 58px;
    line-height: 1.2;
}

.trainer__name {
    font-size: 58px;
    text-transform: uppercase;
}


/* subscribe */

.subscribe {
    text-align: center;
    background: var(--global-color-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 115px 0px 115px 0px;
}

.subscribe__title {
    font-size: 75px;
    color: #DEEDE8;
    margin-bottom: 50px;
}

.subscribe__description {
    font-size: 30px;
    color: #DEEDE8;
    line-height: 1.3;
    margin-bottom: 50px;
}

.subscribe__search {
    display: flex;
    height: 64px;
    width: 700px;
}

.subscribe__search input {
    width: 480px;
    border: none;
    outline: none;
    background: #FFFFFF;
    height: 100%;
    font-size: 20px;
    border-radius: 25px 0 0 25px;
}

.subscribe__search button {
    width: 220px;
    color: var(--global-color-primary);
    background: var(--global-color-secondary);
    font-size: 25px;
    border: none;
    border-radius: 25px;
    margin-left: -18px;
}


/* footer */

.footer {
    background: var(--global-background-color);
    padding: 115px 0px 115px 0px;
}

.footer__container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer__title {
    font-size: 33px;
    margin-bottom: 20px;
}

.footer__item {
    margin-bottom: 2px;
}

.footer__content ul li {
    margin-bottom: 10px;
}

.footer__link {
    color: var(--global-text-color);
    font-size: 20px;
}

.footer__content p {
    font-size: 25px;
    margin-bottom: 30px;
    line-height: 1.3;
}

.footer__network-socials {
    margin-top: 20px;
}

.footer__network-socials a {
    margin-left: 10px;
}

.footer__link img {
    background: var(--global-color-primary);
}