/*===== GOOGLE FONTS Baloo Bhai 2 and Montserrat =====*/

@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500;700&family=Montserrat:wght@100;400;500&display=swap');

/*===== VARIABLES CSS =====*/

:root {
    --global-header-height: 2.875rem;
    /* colors */
    --global-background-color: #F2F9F4;
    --global-color-primary: #509995;
    --global-color-secondary: #DEEDE8;
    --global-color-menu-hover: #C0DAD6;
    --global-text-color: #509995;
    /* font and typography */
    --global-font-family: 'Baloo Bhai 2', 'Montserrat', sans-serif;
    --global-normal-font-size: .938rem;
    /* spaces */
    --global-side-page-space: 5.8125rem;
    --global--margin-top-header: 2.6875rem;
}


/*========== BASE ==========*/

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--global-font-family);
    font-size: var(--global-normal-font-size);
    background-color: var(--global-background-color);
    color: var(--global-text-color);
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

::placeholder {
    color: #FFFFFF;
}


/*========== CLASS CSS ==========*/


/* ======== header ======*/

.header-container {
    width: 100%;
    background-color: var(--global-color-secondary);
    margin-top: var(--global--margin-top-header);
}

.nav-container {
    width: 100%;
    height: var(--global-header-height);
    position: relative;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.nav__logo {
    width: 110px;
    height: 131px;
    background: #8FD8C5;
    position: relative;
    /* top: - var(--global--margin-top-header) */
    top: -2.6875rem;
    left: var(--global-side-page-space)
}

.nav__menu {
    display: flex;
    margin: auto 0;
}

.nav__item {
    margin: 0 40px;
    /* margin:40px; */
}

.nav__link {
    color: #434E4D;
    font-size: 1.3125rem;
    font-weight: 550;
    text-transform: uppercase;
    padding: 8px 18px;
}

.nav__link:hover {
    background: var(--global-color-menu-hover);
}

.nav__toggle {
    position: relative;
    margin: auto;
    display: none;
}

.nav__toggle span {
    position: absolute;
    font-size: 35px;
}

input[type="checkbox"] {
    display: none;
}


/*========== MEDIA QUERIES ==========*/

@media screen and (max-width:900px) {
    .nav-container {
        display: block;
        padding: 0;
    }
    .nav__logo {
        display: inline-block;
        left: 0;
    }
    .nav__menu {
        display: flex;
        flex-direction: column;
        background: var(--global-color-secondary);
        height: 0;
        visibility: hidden;
    }
    .nav__item {
        text-align: center;
    }
    .nav__link {
        font-size: 20px;
        padding: 10px;
        display: block;
    }
    .nav__toggle {
        display: block;
        position: absolute;
        top: 6px;
        right: 50px;
        cursor: pointer;
    }
    #nav__toggle--close {
        display: none;
    }
    #menu-toggle:checked~label #nav__toggle--menu {
        display: none;
    }
    #menu-toggle:checked~label #nav__toggle--close {
        display: block;
    }
    #menu-toggle:checked~.nav__menu {
        visibility: visible;
        height: 210px;
    }
}


/*========== LAYOUT ==========*/


/*========== NAV ==========*/


/*========== MEDIA QUERIES ==========*/