/*===== GOOGLE FONTS Baloo Bhai 2 and Montserrat =====*/

@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500;700&family=Montserrat:wght@100;400;500&display=swap');

/*===== VARIABLES CSS =====*/

:root {}


/* 
font-family: 'Baloo Bhai 2', cursive;
font-family: 'Montserrat', sans-serif; */


/*========== BASE ==========*/

*,
::before,
::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


/*========== CLASS CSS ==========*/


/*========== LAYOUT ==========*/


/*========== NAV ==========*/


/*========== MEDIA QUERIES ==========*/